*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.container {
  width: 1100px;
  height: 800px;
  background-color: #EDEFF0;
}

.nav-icons {
  float: right;
  margin-top: -40px;
}

.nav-icons img {
  margin-left: 10px;
}

h1 {
  color: #384047;
  font-size: 20px;
}

.nav-bar {
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-line {
  width: 1060px;
  border-bottom: 2px solid #C7C9C9;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 2px;
  box-shadow: 0px 1px 4px #cacece;
}

.course-window {
  width: 500px;
  height: 300px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
}

#window1 {
  margin-top: 10px;
  margin-left: 25px;
}

#window2 {
  margin-top: 10px;
  margin-left: 555px;
}

#window3 {
  margin-left: 25px;
  margin-top: 340px;
}

#window4 {
  margin-left: 555px;
  margin-top: 340px;
}

.window-heading {
  width: 500px;
  height: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 13px;
  padding-left: 23px;
  padding-right: 19px;
}

#window-heading1 {
  background-color: #2C9676;
}

#window-heading2 {
  background-color: #F092B0;
}

#window-heading3 {
  background-color: #838CC7;
}

.window-heading h4 {
  float: right;
  font-size: 13px;
  color: white;
  margin-top: 5px;
}

.course-oval {
  height: 35px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #EAEDEF;
  padding: 15px;
  margin-top: 35px;
  float: left;
}

.intermediate-oval {
  height: 35px;
  width: 120px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #EAEDEF;
  padding: 15px;
  margin-top: 35px;
  float: left;
  margin-left: 10px;
}

.window-content {
  margin: 30px;
}

#java-oval {
  width: 65px;
}

p {
  font-size: 15px;
  color: #7D8D90;
}

h2 {
  font-size: 20px;
  color: #4B5658;
  margin-bottom: 20px;
  margin-top: -10px;
}

h3 {
  font-size: 15px;
  color: #7C8B8E;
}

.java {
  color: #2C9676;
}

.intermediate {
  color: #7C8B8E;
}

.content-icons {
  margin-top: 50px;
  margin-left: 360px;
}

h5 {
  margin: auto;
  margin-top: -8px;
  font-size: 14px;
}

h7 {
 color: #BFC7CE;
 margin-top: 5px;
 float: left;
}


.python {
  color: #F092B0;
}

.word-press {
  color: #838CC7;
}

.star-icon {
  margin-left: 6px;
}

.book-icon {
  width: 17px;
  height: 20px;
  float: left;
}

.circle {
  opacity: .5;
  width: 10px;
  margin-right: 3px;
}

.circles {
  float: left;
  margin-left: 17px;
  margin-top: 2px;
}

.arrow {
  border-right: thin solid #BFC7CE;
  border-left: thin solid #BFC7CE;
  padding-left: 20px;
  padding-right: 20px;
}
