//colors

$bright-grey : #384047;
$lochinvar   : #2C9676;
$mauvelous   : #F092B0;
$ship-cove   : #838CC7;
$oslo-grey   : #7D8D90;
$abbey       : #4B5658;
$loblolly    : #BFC7CE;
$porcelain   : #EDEFF0;
$d-porcelain : #EAEDEF;
$silver-sand : #C7C9C9;
$iron        : #cacece;
$astral      : #3079AB;
$bay-of-many : #255A7D;
$nevada      : #576366;

// breakpoints

$brk-narrow : '(max-width: 1037px)';
$brk-wide : '(min-width: 1260px)';
$brk-mini : '(max-width: 520px)';
