.container {
  width: 90vw;
  height: 800px;
  background-color: $porcelain;

  @media #{$brk-narrow} {
    height: 1400px;
  }
}
.course-window {
  width: 40%;
  height: 300px;
  background-color: white;
  position: absolute;
  border-radius: 4px;

  @media #{$brk-narrow} {
    width: 82%;
    float: left;
    clear: both;
  }
}

.window-heading {
  width: 100%;
  height: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 13px;
  padding-left: 23px;
  padding-right: 19px;
}

#window1 {
  margin-top: 10px;
  margin-left: 25px;
}

#window2 {
  margin-top: 10px;
  margin-left: 44%;

  @media #{$brk-narrow} {
    margin-top: 340px;
    margin-left: 25px;
  }
}

#window3 {
  margin-left: 25px;
  margin-top: 340px;

  @media #{$brk-narrow} {
    margin-top: 670px;
    margin-left: 25px;
  }
}

#window4 {
  margin-left: 44%;
  margin-top: 340px;

  @media #{$brk-narrow} {
    margin-top: 1000px;
    margin-left: 25px;
  }
}
