.course-oval {
  height: 35px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #EAEDEF;
  padding: 15px;
  margin-top: 35px;
  float: left;
}

.intermediate-oval {
  height: 35px;
  width: 120px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #EAEDEF;
  padding: 15px;
  margin-top: 35px;
  float: left;
  margin-left: 10px;
}

#java-oval {
  width: 65px;
}


.java {
  color: #2C9676;
}

.intermediate {
  color: #7C8B8E;
}

.content-icons {
  margin-top: 50px;
  margin-left: 360px;
}



.python {
  color: #F092B0;
}

.word-press {
  color: #838CC7;
}
