.course-oval {
  @extend %buttons;
}

.intermediate-oval {
  @extend %buttons;
  width: 120px;
  margin-left: 10px;
}

#java-oval {
  width: 65px;
}


.java {
  color: $lochinvar;
}

.intermediate {
  color: $oslo-grey;
}


.python {
  color: $mauvelous;
}

.word-press {
  color: $ship-cove;
}
