.nav-icons {
  float: right;
  margin-top: -40px;
}

.nav-icons img {
  margin-left: 10px;
}

.star-icon {
  margin-left: 6px;

  @media #{$brk-mini} {
    margin-left: 10px;
    float: right;
    margin-top: -30px;
  }
}
.window-icons {
  @media #{$brk-wide} {
    margin-top: -23px;
    display: block;
  }
}
.window-icon-button1 {
  margin-top: 0px;
  @media #{$brk-wide} {
    margin-top: 0px;
  }
}
#word-press-oval {
  margin-top: 0px;
  @media #{$brk-wide} {
    margin-top: 0px;
  }
}
.book-icon {
  width: 17px;
  height: 20px;
  float: left;
}
.arrow {
  border-right: thin solid $loblolly;
  border-left: thin solid $loblolly;
  padding-left: 20px;
  padding-right: 20px;
}
.circle {
  opacity: .5;
  width: 10px;
  margin-right: 3px;
}

.circles {
  float: left;
  margin-left: 17px;
  margin-top: 2px;
}

.content-icons {
  margin-top: 50px;
  margin-left: 70%;

  @media #{$brk-mini} {
    margin-top: 40px;
  }
}
