*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
}
h1 {
  color: $bright-grey;
  font-size: 20px;
}


#window-heading1 {
  background-color: $lochinvar;
}

#window-heading2 {
  background-color: $mauvelous;
}

#window-heading3 {
  background-color: $ship-cove;
}

.window-heading h4 {
  float: right;
  font-size: 13px;
  color: white;
  margin-top: 5px;
}

.window-content {
  margin: 30px;
}
p {
  @include text (15px, $oslo-grey);
}

h2 {
  @include text (20px, $abbey, -10px);
  margin-bottom: 20px;
}

h3 {
  @include text (15px, $oslo-grey);
}
h5 {
  @include text (14px, $margin-top: -8px);
}

h7 {
  @include text (17px, $loblolly, 5px);
 float: left;
}
