*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
}
h1 {
  color: #384047;
  font-size: 20px;
}
#window1 {
  margin-top: 10px;
  margin-left: 25px;
}

#window2 {
  margin-top: 10px;
  margin-left: 555px;
}

#window3 {
  margin-left: 25px;
  margin-top: 340px;
}

#window4 {
  margin-left: 555px;
  margin-top: 340px;
}

#window-heading1 {
  background-color: #2C9676;
}

#window-heading2 {
  background-color: #F092B0;
}

#window-heading3 {
  background-color: #838CC7;
}

.window-heading h4 {
  float: right;
  font-size: 13px;
  color: white;
  margin-top: 5px;
}



.window-content {
  margin: 30px;
}
p {
  @include text (15px, #7D8D90);
}

h2 {
  @include text (20px, #4B5658, -10px);
  margin-bottom: 20px;
}

h3 {
  @include text (15px, #7C8B8E);
}
h5 {
  @include text (14px, $margin-top: -8px);
}

h7 {
  @include text (17px, #BFC7CE, 5px);
 float: left;
}
