//colors

$bright-grey : #384047;
$lochinvar   : #2C9676;
$mauvelous   : #F092B0;
$ship-cove   : #838CC7;
$oslo-grey   : #7D8D90;
$abbey       : #4B5658;
$loblolly    : #BFC7CE;
$porcelain   : #EDEFF0;
$silver-sand : #C7C9C9;
$iron        : #cacece;

// breakpoints

$brk-narrow : '(max-width: 1037px)';
$brk-wide : '(max-width: 1260px)';
